@page "/calc/{handler?}"
@model CoreBGH.Pages.Modul03.calc1Model
@{
    ViewData["Title"] = "calc1";
}

<h1>calc1</h1>
<form method="post">
    <input name="eins" /><br />
    <input name="zwei" /><br />
    <button type="submit">add</button>
    @Model.Ergebnis
</form>

