@page
@model CoreBGH.Pages.Modul03.Seite3Model
@{
    ViewData["Title"] = "Seite3";
}

<h1>Seite3</h1>
@section  Scripts
{
<script>
    $('h1').text('dsfdf');
    // . css class
    // h1 ELementtype
    //# ID
</script>
}
