@page
@model CoreBGH.Pages.Modul05.BildUploadModel
@{
    ViewData["Title"] = "BildUpload";
}

<h1>BildUpload</h1>
<form enctype="multipart/form-data" method="post">
    <input type="file" name="datei" />
    <input type="submit" />
</form>
