@page
@model CoreBGH.Pages.Modul05.CacheTest1Model
@{
    ViewData["Title"] = "CacheTest1";
}

<h1>CacheTest1</h1>
@DateTime.Now
<hr />
<cache expires-after="@new TimeSpan(0,0,30)" vary-by="none">
    @DateTime.Now
</cache>
