@page
@model CoreBGH.Pages.Modul05.eingabeModel
@{
    ViewData["Title"] = "eingabe";
}

<h1>eingabe</h1>
<form method="post">
    <input name="eins" />
    <input type="submit" asp-page-handler="tuwas" />
</form>

