@model Boolean
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" 
           checked="@Model" disabled>
    <label class="custom-control-label" for="customCheck"></label>
</div>