@model CoreBGH.Pages.modul04.UsePartialModel
<table>
    <tr>
        <th>Wochentag</th>
    </tr>
    @foreach (var item in Model.Tage)
	{
        <tr>
            <td>@item</td>
        </tr>
		 
	}
</table>