@page
@model CoreBGH.Pages.modul04.htmlModel
@{
    ViewData["Title"] = "html";
}

<h1>html</h1>
<form novalidate>
    <input name="eins" type="date"  />
    <input name="zwei" type="email" required/>

    <input name="zwei" type="number"  />
    <input name="zwei" type="range" min="0" max="100" />
    <input type="submit" value="ok" />
</form>

