@page
@model CoreBGH.Pages.modul04.UsePartialModel
@{
    ViewData["Title"] = "UsePartial";
}

<h1>UsePartial</h1>

<partial name="_Zeit"/>
<a asp-page-handler="excel" class="btn btn-danger">Excel Export</a>